$zmdi-font-path:      "../node_modules/material-design-iconic-font/dist/fonts";
$zmdi-css-prefix:     icon-hc;
$zmdi-icon-prefix:    icon;
@import "../../node_modules/material-design-iconic-font/scss/material-design-iconic-font.scss";
