// Reference:
// http://www.google.com/design/spec/components/data-tables.html

$table-stripe: false !default;
$table-head-background: $white !default;
$table-border: 0 !default;
$table-padding: rem-calc(15) !default;
$table-stripe: false !default;

@include foundation-table;

table {
  border-radius: $global-radius;
  @extend .z-depth-1;
  overflow: hidden;
  input[type="checkbox"] + label {
    position: relative;
    top: -11px;
  }
}
thead, tr {
  border-bottom: #{$table-border};
}
thead tr {
  @extend .text-body-2;
}
tr {
  @extend .text-body-1;
  &:last-child {
    border-bottom: 0;
  }
}